<!-- Begin Pattern -->
<div class="bcp-panel bcp-sidenav-container">
  <div class="bcp-sidenav" data-component="dropdown-menu">
    <button class="bcp-sidenav-btn" data-role="dropdown-menu-trigger">
      <span class="bcp-sidenav-parent">Voicemail</span>
      <span class="bcp-sidenav-current">Inbox</span>
    </button>
    <ul class="bcp-sidenav-list bcp-panel-list" data-role="dropdown-menu-content" aria-describedby="bcp-sidenav"
        id="bcp-sidenav-list">
      <li data-component="dropdown-menu">
        <a
          href="https://businessclass.qa5.comcast.net/Secure/ManageServices/BVE/VoiceMailInbox?GroupId=5246&amp;UserId=cdavies7705#"
          class="bcp-sidenav-item-heading bcp-is-open" data-role="dropdown-menu-trigger" aria-owns="report-options"
          id="reports">Voicemail</a>
        <ul class="bcp-sidenav-sublist bcp-is-open" data-role="dropdown-menu-content" aria-describedby="reports"
            id="report-options">
          <li><a data-sidenav-link="true" target=""
                 href="https://businessclass.qa5.comcast.net/Secure/ManageServices/BVE/VoiceMailInbox?GroupId=5246&amp;UserId=cdavies7705">Inbox</a>
          </li>
          <li><a data-sidenav-link="true" target=""
                 href="https://businessclass.qa5.comcast.net/Secure/ManageServices/BVE/VoiceMailDelete?GroupId=5246&amp;UserId=cdavies7705">Deleted</a>
          </li>
          <li><a data-sidenav-link="true" target=""
                 href="https://businessclass.qa5.comcast.net/Secure/ManageServices/BVE/VoiceMailGreeting?GroupId=5246&amp;UserId=cdavies7705">Greetings</a>
          </li>
          <li><a data-sidenav-link="true" target=""
                 href="https://businessclass.qa5.comcast.net/Secure/ManageServices/BVE/VoiceMailAdvanced?UserId=cdavies7705&amp;GroupId=5246">Advanced</a>
          </li>
          <li><a data-sidenav-link="true" target=""
                 href="https://businessclass.qa5.comcast.net/Secure/ManageServices/BVE/DistributionList?GroupId=5246&amp;UserId=cdavies7705">Distribution
            List</a></li>
          <li><a data-sidenav-link="true" target=""
                 href="https://businessclass.qa5.comcast.net/Secure/ManageServices/BVE/VoiceMailTransfer?GroupId=5246&amp;UserId=cdavies7705">Transfer</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- End Pattern -->
